.FooterNull{
    display: flex;
    justify-content: center;
    height: 60px;
    background-color: rgb(58,49,57);
    width: 100vw;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;

}

.Footer div{
    display: grid;
    align-items: center;
    padding: 1px;
    
    height: 22px;
    width: 22px;
    border-radius: 180px;
    margin: 5px;
    text-align: center;
    background-color: black;
}

.Footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: rgb(212, 47, 59);
    width: 100vw;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;

}
.Footer button{
    text-transform: uppercase;
    padding: 10px 20px;
    margin-left: 10px;
    background-color: white;
    color: black;
    border-radius: 20px;
    outline: none;
    
}
.Footer button:focus{
    outline: none
}